WebContent/wsdl/interfaces/esb/bankwizard/CMECBankWizardWebservice.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:bons1="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/esb/payment/CmecSubmitBankValidationRequest" xmlns:bons2="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/esb/payment/CmecSubmitBankValidationResponse" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.childmaintenance.gsi.gov.uk/futurescheme/interfaces/CMECBankWizardWebservice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CMECBankWizardWebservice" targetNamespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/interfaces/CMECBankWizardWebservice">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/interfaces/CMECBankWizardWebservice">
            <xsd:import namespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/esb/payment/CmecSubmitBankValidationResponse" schemaLocation="../../../bo/esb/payment/CmecSubmitBankValidationResponse.xsd"/>
            <xsd:import namespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/esb/payment/CmecSubmitBankValidationRequest" schemaLocation="../../../bo/esb/payment/CmecSubmitBankValidationRequest.xsd"/>
            <xsd:element name="SubmitBankValidation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="BankWizardRequest" type="bons1:CmecSubmitBankValidationRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SubmitBankValidationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="BankWizardResponse" type="bons2:CmecSubmitBankValidationResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SubmitBankValidationResponse">
    <wsdl:part element="tns:SubmitBankValidationResponse" name="SubmitBankValidationResult">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SubmitBankValidationRequest">
    <wsdl:part element="tns:SubmitBankValidation" name="SubmitBankValidationParameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CMECBankWizardWebservice">
    <wsdl:operation name="SubmitBankValidation">
      <wsdl:input message="tns:SubmitBankValidationRequest">
    </wsdl:input>
      <wsdl:output message="tns:SubmitBankValidationResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CMECBankWizardWebservice" type="tns:CMECBankWizardWebservice">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SubmitBankValidation">
      <soap:operation soapAction="http://www.childmaintenance.gsi.gov.uk/futurescheme/interfaces/CMECBankWizardWebservice/SubmitBankValidation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CMECBankWizardWebservice">
    <wsdl:port binding="tns:CMECBankWizardWebservice" name="CMECBankWizardWebservice">
      <soap:address location="http://localhost:8989/testSOAP/services/CMECBankWizardWebservice"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
