WebContent/wsdl/bo/esb/eportal/CmecUpdEmplyrAddrRequest.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/esb/eportal/CmecEPortalAddressDetailsWrapper" xmlns:bons1="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/common/CMECHeader.xsd" targetNamespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/esb/eportal/CmecUpdEmplyrAddrRequest">
	<xsd:import namespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/common/CMECHeader.xsd" schemaLocation="../../common/CMECHeader.xsd">
	</xsd:import>
	<xsd:import namespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/esb/eportal/CmecEPortalAddressDetailsWrapper" schemaLocation="CmecEPortalAddressDetailsWrapper.xsd">
	</xsd:import>
	<xsd:complexType name="CmecUpdEmplyrAddrRequest">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="requestHeader" type="bons1:CMECHeader">
			</xsd:element>
			<xsd:element minOccurs="0" name="ern" type="xsd:string"/>
			<xsd:element minOccurs="0" name="rowId" type="xsd:string"/>
			<xsd:element minOccurs="0" name="employerAddressWrapper" type="bons0:CmecEPortalAddressDetailsWrapper">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
