WebContent/wsdl/bo/esb/eportal/CmecGetEmployerContactHistoryDetailsResponse.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/common/Response.xsd" xmlns:bons2="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/esb/eportal/CmecEportalClientContactHistory" targetNamespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/esb/eportal/CmecGetEmployerContactHistoryDetailsResponse">
	<xsd:import namespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/esb/eportal/CmecEportalClientContactHistory" schemaLocation="CmecEportalContactHistory.xsd">
	</xsd:import>
	<xsd:import namespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/common/Response.xsd" schemaLocation="../../common/Response.xsd">
	</xsd:import>
	<xsd:complexType name="CmecGetEmployerContactHistoryDetailsResponse">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="ResponseHeader" type="bons0:Response">
			</xsd:element>
			<xsd:element minOccurs="0" name="ERN" type="xsd:string"/>
			<xsd:element minOccurs="0" name="EmployerID" type="xsd:string">
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="EmployerContactHistory" type="bons2:CmecEportalContactHistory">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
