WebContent/wsdl/bo/esb/eportal/CmecEPortalUpdateMOPRequest.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/common/CMECHeader.xsd" xmlns:bons1="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/esb/eportal/CmecEPortalFinCorpAccountDetails" targetNamespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/esb/eportal/CmecEPortalUpdateMOPRequest">
	<xsd:import namespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/esb/eportal/CmecEPortalFinCorpAccountDetails" schemaLocation="CmecEPortalFinCorpAccountDetails.xsd">
	</xsd:import>
	<xsd:import namespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/common/CMECHeader.xsd" schemaLocation="../../common/CMECHeader.xsd">
	</xsd:import>
	<xsd:complexType name="CmecEPortalUpdateMOPRequest">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="RequestHeader" type="bons0:CMECHeader">
			</xsd:element>
			<xsd:element minOccurs="0" name="SRAction" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="SRArea" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="SRSubArea" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="Source" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="FinCorpAccntDtls" type="bons1:CmecEPortalFinCorpAccountDetails">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
