WebContent/wsdl/bo/esb/eportal/CmecEPortalEmployerSearched.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/esb/eportal/CmecEPortalAddress" targetNamespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/esb/eportal/CmecEPortalEmployerSearched">
	<xsd:import namespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/esb/eportal/CmecEPortalAddress" schemaLocation="CmecEPortalAddress.xsd">
	</xsd:import>
	<xsd:complexType name="CmecEPortalEmployerSearched">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="EmployerName" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="EmployerId" type="xsd:string">
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="EmployerAddress" type="bons0:CmecEPortalAddress">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
