WebContent/wsdl/bo/esb/hopewiser/GetAddressDetailsRequest.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/common/CMECHeader.xsd" xmlns:bons1="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/asbo/address/Address" xmlns:tns="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/asbo/address/GetAddressDetailsRequest" targetNamespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/asbo/address/GetAddressDetailsRequest">
	<xsd:import namespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/asbo/address/Address" schemaLocation="Address.xsd"/>
	<xsd:import namespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/common/CMECHeader.xsd" schemaLocation="../../common/CMECHeader.xsd"/>
	<xsd:element name="getAddressDetailsRequest" type="tns:GetAddressDetailsRequest"/>	
	<xsd:complexType name="GetAddressDetailsRequest">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="RequestHeader" type="bons0:CMECHeader">
			</xsd:element>
			<xsd:element minOccurs="0" name="address" type="bons1:Address">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
