WebContent/wsdl/bo/esb/hopewiser/GetAddressDetailsResponse.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/common/Response.xsd" xmlns:bons1="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/asbo/address/Address" xmlns:tns="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/asbo/address/GetAddressDetailsResponse" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/asbo/address/GetAddressDetailsResponse">
	<xsd:import namespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/asbo/address/Address" schemaLocation="Address.xsd"/>
	<xsd:import namespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/common/Response.xsd" schemaLocation="../../common/Response.xsd"/>
	<xsd:element name="getAddressDetailsResponse" type="tns:GetAddressDetailsResponse"/>
	<xsd:complexType name="GetAddressDetailsResponse">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="responseHeader" type="bons0:Response"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="addresses" type="tns:Addresses"/>

		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Addresses">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="address" type="bons1:Address"/>
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
