WebContent/wsdl/interfaces/esb/GetEmpStmt/CMECGetOnlineEmpStmtService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:bons1="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/CMECGetOnlineEmpStmtRequest" xmlns:bons2="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/CMECGetOnlineEmpStmtResponse" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.childmaintenance.gsi.gov.uk/futurescheme/interfaces/CMECGetOnlineEmpStmtService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CMECGetOnlineEmpStmtService" targetNamespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/interfaces/CMECGetOnlineEmpStmtService">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/interfaces/CMECGetOnlineEmpStmtService">
			<xsd:import namespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/CMECGetOnlineEmpStmtResponse" schemaLocation="../../../bo/esb/GetEmpStmt/CMECGetOnlineEmpStmtResponse.xsd"/>
			<xsd:import namespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/CMECGetOnlineEmpStmtRequest" schemaLocation="../../../bo/esb/GetEmpStmt/CMECGetOnlineEmpStmtRequest.xsd"/>				
			<xsd:element name="getEmpStmtRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="getEmpStmtInput" nillable="true" type="bons1:CMECGetOnlineEmpStmtRequest"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getEmpStmtResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="getEmpStmtOutput" nillable="true" type="bons2:CMECGetOnlineEmpStmtResponse"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
  </wsdl:types>
  <wsdl:message name="getEmpStmtResponse">
    <wsdl:part element="tns:getEmpStmtResponse" name="getEmpStmtResult">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEmpStmtRequest">
    <wsdl:part element="tns:getEmpStmtRequest" name="getEmpStmtParameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CMECGetOnlineEmpStmtService">
    <wsdl:operation name="getEmpStmt">
      <wsdl:input message="tns:getEmpStmtRequest" name="getEmpStmtInput">
    </wsdl:input>
      <wsdl:output message="tns:getEmpStmtResponse" name="getEmpStmtOutput">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CMECGetOnlineEmpStmtServiceSOAP" type="tns:CMECGetOnlineEmpStmtService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getEmpStmt">
      <soap:operation soapAction="http://www.childmaintenance.gsi.gov.uk/futurescheme/interfaces/CMECGetOnlineEmpStmtService/getEmplyrSchd"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CMECGetOnlineEmpStmtService">
    <wsdl:port binding="tns:CMECGetOnlineEmpStmtServiceSOAP" name="CMECGetOnlineEmpStmtService">
      <soap:address location="http://localhost:8989/testSOAP/services/CMECGetOnlineEmpStmtService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
