WebContent/wsdl/interfaces/esb/deoSchedule/CMECInquireDEOSchdDiffWebservice.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:bons1="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/esb/deoSchedule/CMECInqDEODiffRequest" xmlns:bons2="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/esb/deoSchedule/CMECInqDEODiffResponse" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.childmaintenance.gsi.gov.uk/futurescheme/interfaces/CMECInquireDEOSchdDiffWebservice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CMECInquireDEOSchdDiffWebservice" targetNamespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/interfaces/CMECInquireDEOSchdDiffWebservice">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/interfaces/CMECInquireDEOSchdDiffWebservice">
            <xsd:import namespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/esb/deoSchedule/CMECInqDEODiffResponse" schemaLocation="../../../bo/esb/deoSchedule/CMECInqDEODiffResponse.xsd"/>
            <xsd:import namespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/esb/deoSchedule/CMECInqDEODiffRequest" schemaLocation="../../../bo/esb/deoSchedule/CMECInqDEODiffRequest.xsd"/>
            			
            <xsd:element name="InqDEOSchdDiff">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="inqDEOSchdDiffInput" nillable="true" type="bons1:CMECInqDEODiffRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="InqDEOSchdDiffResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="inqDEOSchdDiffOutput" nillable="true" type="bons2:CMECInqDEODiffResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="InqDEOSchdDiffResponseMsg">
    <wsdl:part element="tns:InqDEOSchdDiffResponse" name="InqDEOSchdDiffResult">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="InqDEOSchdDiffRequestMsg">
    <wsdl:part element="tns:InqDEOSchdDiff" name="InqDEOSchdDiffparameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CMECInquireDEOSchdDiffWebservice">
    <wsdl:operation name="InqDEOSchdDiff">
      <wsdl:input message="tns:InqDEOSchdDiffRequestMsg" name="InqDEOSchdDiffRequest">
    </wsdl:input>
      <wsdl:output message="tns:InqDEOSchdDiffResponseMsg" name="InqDEOSchdDiffResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CMECInquireDEOSchdDiffWebserviceSOAP" type="tns:CMECInquireDEOSchdDiffWebservice">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="InqDEOSchdDiff">
      <soap:operation soapAction="http://www.childmaintenance.gsi.gov.uk/futurescheme/interfaces/CMECInquireDEOSchdDiffWebservice/InqDEOSchdDiff"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CMECInquireDEOSchdDiffWebservice">
    <wsdl:port binding="tns:CMECInquireDEOSchdDiffWebserviceSOAP" name="CMECInquireDEOSchdDiffWebservice">
      <soap:address location="http://localhost:8989/testSOAP/services/CMECInquireDEOSchdDiffWebservice"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
