WebContent/wsdl/bo/esb/maintenance/CmecRetrievePromiseToPaySchdResponse.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/esb/maintenance/CmecCollectionSchdDetails" xmlns:bons1="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/common/Response.xsd" xmlns:tns="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/esb/maintenance/CmecRetrievePromiseToPaySchdResponse" targetNamespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/esb/maintenance/CmecRetrievePromiseToPaySchdResponse">
	<xsd:import namespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/common/Response.xsd" schemaLocation="../../common/Response.xsd">
	</xsd:import>
	<xsd:import namespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/esb/maintenance/CmecCollectionSchdDetails" schemaLocation="CmecPromiseToPaySchdDetails.xsd"/>
	<xsd:complexType name="CmecRetrievePromiseToPaySchdResponse">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="nrpAccountNumber" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="response" type="bons1:Response">
			</xsd:element>

			<xsd:element maxOccurs="1" minOccurs="0" name="PromiseToPayScheduleDetailsCollection" type="tns:PromiseToPayScheduleDetailsCollection"/>

		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PromiseToPayScheduleDetailsCollection">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="CollectionScheduleDetails" type="bons0:CmecPromiseToPaySchdDetails"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
