WebContent/wsdl/bo/esb/deoSchedule/CMECFetchDEODetailsResponse.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/common/Response.xsd" xmlns:bons1="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/esb/deoSchedule/CMECFetchDEODetailsResponse" targetNamespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/esb/deoSchedule/CMECFetchDEODetailsResponse">
	<xsd:import namespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/common/Response.xsd" schemaLocation="../../common/Response.xsd"/>

	<xsd:complexType name="CMECFetchDEODetailsResponse">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="ResponseHeader" type="bons0:Response">
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="FetchDEOResponse" type="bons1:FetchDEOResponse"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FetchDEOResponse">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="employerAccountId" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="action" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="dueDate" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="scheduleStatus" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="scheduleId" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="scheduleDate" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="startDate" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="endDate" type="xsd:string">
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="NRPScheduleDetailsCollection" type="bons1:NRPScheduleDetailsCollection"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NRPScheduleDetailsCollection">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="NRPScheduleDetails" type="bons1:NRPScheduleDetails"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NRPScheduleDetails">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="lastName" type="xsd:string"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="firstName" type="xsd:string">
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="nino" type="xsd:string">
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="targetAmount" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="actualAmount" type="xsd:string">
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="reasonCode" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="CSARefNum" type="xsd:string"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="CSAIdentifier" type="xsd:string">
			</xsd:element>

			<xsd:element minOccurs="0" name="SCIN" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
