WebContent/wsdl/bo/esb/deoSchedule/CMECInqDEODiffResponse.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/common/Response.xsd" xmlns:bons1="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/esb/deoSchedule/CMECInqDEODiffResponse" targetNamespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/esb/deoSchedule/CMECInqDEODiffResponse">
	<xsd:import namespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/common/Response.xsd" schemaLocation="../../common/Response.xsd"/>

	<xsd:complexType name="CMECInqDEODiffResponse">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="ResponseHeader" type="bons0:Response">
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="InqDEODiffResponse" type="bons1:InqDEODiffResponse"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="InqDEODiffResponse">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="accNum" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="frmDt" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="toDt" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="scheduleId" type="xsd:string">
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="InqDEODiffDetailsCollection" type="bons1:InqDEODiffDetailsCollection"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="InqDEODiffDetailsCollection">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="InqDEODiffDetails" type="bons1:InqDEODiffDetails"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="InqDEODiffDetails">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="lastName" type="xsd:string"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="firstName" type="xsd:string">
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="nrpNINO" type="xsd:string">
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="id" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="oldNDR" type="xsd:string">
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="newNDR" type="xsd:string">
			</xsd:element>
			
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
