WebContent/wsdl/interfaces/esb/eportal/CMECePortalSearchEmployerWebService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:bons1="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/esb/eportal/CMECSearchEmployerRequest" xmlns:bons2="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/esb/eportal/CMECSearchEmployerResponse" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.childmaintenance.gsi.gov.uk/futurescheme/interfaces/CMECePortalSearchEmployerWebService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CMECePortalSearchEmployerWebService" targetNamespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/interfaces/CMECePortalSearchEmployerWebService">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/interfaces/CMECePortalSearchEmployerWebService">
			<xsd:import namespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/esb/eportal/CMECSearchEmployerRequest" schemaLocation="../../../bo/esb/eportal/CMECSearchEmployerRequest.xsd"/>
			<xsd:import namespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/esb/eportal/CMECSearchEmployerResponse" schemaLocation="../../../bo/esb/eportal/CMECSearchEmployerResponse.xsd"/>
			<xsd:element name="searchEmployer">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="searchEmployerInput" type="bons1:CMECSearchEmployerRequest"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="searchEmployerResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="searchEmployerOutput" type="bons2:CMECSearchEmployerResponse"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
  </wsdl:types>
  <wsdl:message name="searchEmployerRequest">
    <wsdl:part element="tns:searchEmployer" name="searchEmployerParameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchEmployerResponse">
    <wsdl:part element="tns:searchEmployerResponse" name="searchEmployerResults">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CMECePortalSearchEmployerWebService">
    <wsdl:operation name="searchEmployer">
      <wsdl:input message="tns:searchEmployerRequest">
    </wsdl:input>
      <wsdl:output message="tns:searchEmployerResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CMECePortalSearchEmployerWebServiceSOAP" type="tns:CMECePortalSearchEmployerWebService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="searchEmployer">
      <soap:operation soapAction="http://www.childmaintenance.gsi.gov.uk/futurescheme/interfaces/CMECePortalSearchEmployerWebService/searchEmployer"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CMECePortalSearchEmployerWebService">
    <wsdl:port binding="tns:CMECePortalSearchEmployerWebServiceSOAP" name="CMECePortalSearchEmployerWebService">
      <soap:address location="http://localhost:8989/testSOAP/services/CMECePortalSearchEmployerWebService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
