WebContent/wsdl/interfaces/esb/eportal/CMECePortalGetClientContactHistoryWebService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:bons0="http://www.childmaintenance.gsi.gov.uk/futurescheme/interfaces/CMECePortalGetClientContactHistoryWebService/" xmlns:bons1="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/esb/eportal/CmecGetClientContactHistoryDetailsRequest" xmlns:bons2="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/esb/eportal/CmecGetClientContactHistoryDetailsResponse" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.childmaintenance.gsi.gov.uk/futurescheme/interfaces/CMECePortalGetClientContactHistoryWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CMECePortalGetClientContactHistoryWebService" targetNamespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/interfaces/CMECePortalGetClientContactHistoryWebService/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/interfaces/CMECePortalGetClientContactHistoryWebService/">
			<xsd:import namespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/esb/eportal/CmecGetClientContactHistoryDetailsResponse" schemaLocation="../../../bo/esb/eportal/CmecGetClientContactHistoryDetailsResponse.xsd"/>
			<xsd:import namespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/esb/eportal/CmecGetClientContactHistoryDetailsRequest" schemaLocation="../../../bo/esb/eportal/CmecGetClientContactHistoryDetailsRequest.xsd"/>
			<xsd:element name="getClientContactHistory">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="GetClientContactHistoryInput" type="bons1:CmecGetClientContactHistoryDetailsRequest"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getClientContactHistoryResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="GetClientContactHistoryOutput" type="bons2:CmecGetClientContactHistoryDetailsResponse"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

		</xsd:schema>
  </wsdl:types>
  <wsdl:message name="getClientContactHistoryRequest">
    <wsdl:part element="tns:getClientContactHistory" name="GetClientContactHistoryInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getClientContactHistoryResponse">
    <wsdl:part element="tns:getClientContactHistoryResponse" name="GetClientContactHistoryOutput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CMECePortalGetClientContactHistoryWebService">
    <wsdl:operation name="getClientContactHistory">
      <wsdl:input message="tns:getClientContactHistoryRequest" name="getClientContactHistoryRequest">
    </wsdl:input>
      <wsdl:output message="tns:getClientContactHistoryResponse" name="getClientContactHistoryResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CMECGetClientContactHistoryWebServiceSOAP" type="tns:CMECePortalGetClientContactHistoryWebService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getClientContactHistory">
      <soap:operation soapAction="http://www.childmaintenance.gsi.gov.uk/futurescheme/interfaces/CMECePortalGetClientContactHistoryWebServiceExport_CMECePortalGetClientContactHistoryWebServiceHttpPort/getClientContactHistory"/>
      <wsdl:input>
        <soap:body parts="GetClientContactHistoryInput" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="GetClientContactHistoryOutput" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CMECePortalGetClientContactHistoryWebService">
    <wsdl:port binding="tns:CMECGetClientContactHistoryWebServiceSOAP" name="CMECePortalGetClientContactHistoryWebService">
      <soap:address location="http://localhost:8989/testSOAP/services/CMECePortalGetClientContactHistoryWebService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
