WebContent/wsdl/interfaces/esb/eportal/CMECePortalRtrvAccountDetailsWebService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:bons1="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/esb/eportal/CmecRtrvAccountDetailsRequest" xmlns:bons2="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/esb/eportal/CmecRtrvAccountDetailsResponse" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.childmaintenance.gsi.gov.uk/futurescheme/interfaces/CMECePortalRtrvAccountDetailsWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CMECePortalRtrvAccountDetailsWebService" targetNamespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/interfaces/CMECePortalRtrvAccountDetailsWebService/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/interfaces/CMECePortalRtrvAccountDetailsWebService/">
			<xsd:import namespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/esb/eportal/CmecRtrvAccountDetailsResponse" schemaLocation="../../../bo/esb/eportal/CmecRtrvAccountDetailsResponse.xsd"/>
			<xsd:import namespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/esb/eportal/CmecRtrvAccountDetailsRequest" schemaLocation="../../../bo/esb/eportal/CmecRtrvAccountDetailsRequest.xsd"/>
			<xsd:element name="rtrvAccountDetails">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="rtrvAccountDetailsInput" type="bons1:CmecRtrvAccountDetailsRequest"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="rtrvAccountDetailsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="rtrvAccountDetailsOutput" type="bons2:CmecRtrvAccountDetailsResponse"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
  </wsdl:types>
  <wsdl:message name="rtrvAccountDetailsResponse">
    <wsdl:part element="tns:rtrvAccountDetailsResponse" name="rtrvAccountDetailsResult">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="rtrvAccountDetailsRequest">
    <wsdl:part element="tns:rtrvAccountDetails" name="rtrvAccountDetailsParameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CMECePortalRtrvAccountDetailsWebService">
    <wsdl:operation name="rtrvAccountDetails">
      <wsdl:input message="tns:rtrvAccountDetailsRequest" name="rtrvAccountDetailsRequest">
    </wsdl:input>
      <wsdl:output message="tns:rtrvAccountDetailsResponse" name="rtrvAccountDetailsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CMECePortalRtrvAccountDetailsWebServiceSOAP" type="tns:CMECePortalRtrvAccountDetailsWebService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="rtrvAccountDetails">
      <soap:operation soapAction="http://www.childmaintenance.gsi.gov.uk/futurescheme/interfaces/CMECePortalRtrvAccountDetailsWebService/rtrvAccountDetails"/>
      <wsdl:input>
        <soap:body parts="rtrvAccountDetailsParameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="rtrvAccountDetailsResult" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CMECePortalRtrvAccountDetailsWebService">
    <wsdl:port binding="tns:CMECePortalRtrvAccountDetailsWebServiceSOAP" name="CMECePortalRtrvAccountDetailsWebService">
      <soap:address location="http://localhost:8989/testSOAP/services/CMECePortalRtrvAccountDetailsWebService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
