WebContent/wsdl/interfaces/esb/eportal/CMECePortalRtvClientPmtHistoryWebService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:bons1="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/esb/eportal/CMECePortalRtvClientPmtHisRequest" xmlns:bons2="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/esb/eportal/CMECePortalRtvClientPmtHisResponse" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.childmaintenance.gsi.gov.uk/futurescheme/interfaces/CMECePortalRtvClientPmtHistoryWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CMECePortalRtvClientPmtHistoryWebService" targetNamespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/interfaces/CMECePortalRtvClientPmtHistoryWebService/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/interfaces/CMECePortalRtvClientPmtHistoryWebService/">
			<xsd:import namespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/esb/eportal/CMECePortalRtvClientPmtHisResponse" schemaLocation="../../../bo/esb/eportal/CMECePortalRtvClientPmtHisResponse.xsd"/>
			<xsd:import namespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/esb/eportal/CMECePortalRtvClientPmtHisRequest" schemaLocation="../../../bo/esb/eportal/CMECePortalRtvClientPmtHisRequest.xsd"/>
			<xsd:element name="rtvClientPmtHistory">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="rtvClientPmtHistoryInput" type="bons1:CMECePortalRtvClientPmtHisRequest"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="rtvClientPmtHistoryResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="rtvClientPmtHistoryOutput" type="bons2:CMECePortalRtvClientPmtHisResponse"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
  </wsdl:types>
  <wsdl:message name="rtvClientPmtHistoryRequest">
    <wsdl:part element="tns:rtvClientPmtHistory" name="rtvClientPmtHistoryParameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="rtvClientPmtHistoryResponse">
    <wsdl:part element="tns:rtvClientPmtHistoryResponse" name="rtvClientPmtHistoryResult">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CMECePortalRtvClientPmtHistoryWebService">
    <wsdl:operation name="rtvClientPmtHistory">
      <wsdl:input message="tns:rtvClientPmtHistoryRequest">
    </wsdl:input>
      <wsdl:output message="tns:rtvClientPmtHistoryResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CMECePortalRtvClientPmtHistoryWebServiceSOAP" type="tns:CMECePortalRtvClientPmtHistoryWebService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="rtvClientPmtHistory">
      <soap:operation soapAction="http://www.childmaintenance.gsi.gov.uk/futurescheme/interfaces/CMECePortalRtvClientPmtHistoryWebService/rtvClientPmtHistory"/>
      <wsdl:input>
        <soap:body parts="rtvClientPmtHistoryParameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="rtvClientPmtHistoryResult" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CMECePortalRtvClientPmtHistoryWebService">
    <wsdl:port binding="tns:CMECePortalRtvClientPmtHistoryWebServiceSOAP" name="CMECePortalRtvClientPmtHistoryWebService">
      <soap:address location="http://localhost:8989/testSOAP/services/CMECePortalRtvClientPmtHistoryWebService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
