WebContent/wsdl/interfaces/esb/eportal/CMECePortalUpdEmplyrWebService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:bons1="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/esb/eportal/CmecUpdEmplyrBasicDtlsRequest" xmlns:bons2="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/esb/eportal/CmecUpdEmplyrResponse" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.childmaintenance.gsi.gov.uk/futurescheme/interfaces/CMECePortalUpdEmplyrWebService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CMECePortalUpdEmplyrWebService" targetNamespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/interfaces/CMECePortalUpdEmplyrWebService">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/interfaces/CMECePortalUpdEmplyrWebService">
			<xsd:import namespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/esb/eportal/CmecUpdEmplyrResponse" schemaLocation="../../../bo/esb/eportal/CmecUpdEmplyrResponse.xsd"/>
			<xsd:import namespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/esb/eportal/CmecUpdEmplyrBasicDtlsRequest" schemaLocation="../../../bo/esb/eportal/CmecUpdEmplyrBasicDtlsRequest.xsd"/>
			<xsd:element name="updateEmployerBasicDtls">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="updEmplyrRequest" type="bons1:CmecUpdEmplyrBasicDtlsRequest"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="updateEmployerBasicDtlsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="updEmplyrResponse" type="bons2:CmecUpdEmplyrResponse"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
  </wsdl:types>
  <wsdl:message name="updateEmployerBasicDtlsResponse">
    <wsdl:part element="tns:updateEmployerBasicDtlsResponse" name="updateEmployerResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateEmployerBasicDtlsRequest">
    <wsdl:part element="tns:updateEmployerBasicDtls" name="updateEmployerRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CMECePortalUpdEmplyrWebService">
    <wsdl:operation name="updateEmployerBasicDtls">
      <wsdl:input message="tns:updateEmployerBasicDtlsRequest">
    </wsdl:input>
      <wsdl:output message="tns:updateEmployerBasicDtlsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CMECePortalUpdEmplyrWebServiceSOAP" type="tns:CMECePortalUpdEmplyrWebService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="updateEmployerBasicDtls">
      <soap:operation soapAction="http://www.childmaintenance.gsi.gov.uk/futurescheme/interfaces/CMECePortalUpdEmplyrWebService/updateEmployerBasicDtls"/>
      <wsdl:input>
        <soap:body parts="updateEmployerRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="updateEmployerResponse" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CMECePortalUpdEmplyrWebService">
    <wsdl:port binding="tns:CMECePortalUpdEmplyrWebServiceSOAP" name="CMECePortalUpdEmplyrWebService">
      <soap:address location="http://localhost:8989/testSOAP/services/CMECePortalUpdEmplyrWebService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
