WebContent/wsdl/bo/esb/GetEmpStmt/CMECGetOnlineEmpStmtResponse.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:Q1="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/CMECGetOnlineEmpStmtResponse" xmlns:bons0="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/common/Response.xsd" xmlns:bons2="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/EmpStmtDetails" targetNamespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/CMECGetOnlineEmpStmtResponse">

	<xsd:import namespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/EmpStmtDetails" schemaLocation="EmpStmtDetails.xsd">
	</xsd:import>
	<xsd:import namespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/common/Response.xsd" schemaLocation="../../common/Response.xsd">
	</xsd:import>
	<xsd:complexType name="CMECGetOnlineEmpStmtResponse">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="ResponseHeader" type="bons0:Response">
			</xsd:element>
			<xsd:element minOccurs="0" name="accountId" type="xsd:string">
			</xsd:element>

			<xsd:element minOccurs="0" name="listToDate" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="statementDate" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="currencyCode" type="xsd:string">
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="EmpStmtDetailsCollection" type="Q1:EmpStmtDetailsCollection"/>

		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EmpStmtDetailsCollection">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="EmpStmtDetails" type="bons2:EmpStmtDetails"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
