WebContent/wsdl/bo/esb/payment/BankWizardResponseDetail.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/esb/payment/BankWizardResponseDetail">
	<xsd:complexType name="BankWizardResponseDetail">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="responseDescription" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="responseCode" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="responseType" type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
