WebContent/wsdl/bo/esb/payment/CmecSubmitBankValidationResponse.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/esb/payment/CmecSubmitBankValidationResponse" xmlns:bons1="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/esb/payment/BankWizardResponseDetail" targetNamespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/esb/payment/CmecSubmitBankValidationResponse">
	<xsd:import namespace="http://www.childmaintenance.gsi.gov.uk/futurescheme/bo/esb/payment/BankWizardResponseDetail" schemaLocation="BankWizardResponseDetail.xsd"/>

	<xsd:complexType name="CmecSubmitBankValidationResponse">
		<xsd:sequence>

			<xsd:element minOccurs="0" name="responseHeader" type="bons0:Response">
			</xsd:element>
			<xsd:element minOccurs="0" name="responseSortCode" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="responseAccountNumber" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="responseRollNumber" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="id" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Response">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="responseCode" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="responseStatus" type="xsd:string">
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="responseDetails" type="bons1:BankWizardResponseDetail">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
